body {
background-color: #98AFC7;
}

img {
  display: block;
  //float: left;
}

.center {
  margin: auto;
  width: 250px;
}
.details {
background-color: #ffffff;
padding-left: 30px;
font-size: 11px;
margin-bottom: 0px;
border-bottom: 20px solid #ffffff;
}
.ul {
text-decoration: underline;
}
.note {
font-size: 11px;
color: #3366ff;
}


